// .wp-block-audio

.wp-block-audio {
    margin-top: calc( #{$y-margin} / 2 );
    audio {
        border-radius: 2em;
        &:focus {
            outline: none;
            box-shadow: 0 0 1px $grey-dark;
        }
    }
}