// .wp-block-buttons

.wp-block-buttons {
    margin-top: 1em;
}

.wp-block-button {
    .wp-block-button__link {
        @include btn;
    }
    &.is-style-arrow {
        .wp-block-button__link {
            &:after {
                content: '\f152';
                font-family: $fa;
                font-weight: $fa-regular-weight;
                margin-left: 0.5em;
            }
        }
    }
}