// .wp-block-columns

.wp-block-columns {
    margin-bottom: 0;
    .wp-block-column {
        &:first-child {
            & > :first-child {
                margin-top: 0;
            }
        }
    }
}

.wp-block-columns {
    @include media-breakpoint-down(lg) {
        flex-wrap: wrap;
        .wp-block-column {
            flex-basis: 100% !important;
            width: 100%;
            flex-grow: 1;
            margin-left: 0;
        }
    }
    @include media-breakpoint-up(xl) {
        .wp-block-column {
            margin-left: 0;
            margin-right: 0;
            &:not(:first-child) {
                margin-left: 3em;
            }
        }
    }
}