// core/heading

h1, h2, h3, h4, h5, h6 {
    &.is-style-arrow {
        &:before {
            content: '\f152';
            font-family: $fa;
            font-weight: $fa-regular-weight;
            margin-right: 0.25em;
        }
    }
}