// .wp-block-image

figure {
    margin: 0;
}

.wp-block-image {
    margin: 1rem 0;
    figure {
        &.alignleft,
        &.alignright {
            margin: 0;
            float: none;
            @include media-breakpoint-up(md) {
                max-width: 50%;
                &.alignleft {
                    float: left;
                    margin-right: 2rem;
                }
                &.alignright {
                    float: right;
                    margin-left: 2rem;
                }
            }
        }
        img {
            max-width: 100%;
            height: auto;
        }
        figcaption {
            font-size: 0.8em;
        }
        &.aligncenter, &.alignleft, &.alignright, &.is-resized {
            @include ie11-hack() {
                display: block;
            }
            figcaption {
                @include ie11-hack() {
                    display: block;
                }
            }
        }
    }
}