// list

ul[class*='is-style-'] {
    li {
        list-style: none;
        position: relative;
        margin: 0 0 0.25em;
        &:before {
            font-family: $fa;
            font-weight: $fa-regular-weight;
            position: absolute;
            left: -1.5rem;
        }
    }
    &.is-style-word li:before {
        content: '\f1c2';
    }
    &.is-style-pdf li:before {
        content: '\f1c1';
    }
    &.is-style-website li:before {
        content: '\f08e';
        font-size: 0.85em;
    }
    &.is-style-arrow li:before {
        content: '\f152';
    }
}