// .wp-block-pullquote

.wp-block-pullquote {
    padding: 0;
    text-align: left;
    border: none;
    blockquote {
        margin-left: 2em;
        p {
            @include responsive-properties(
                (font-size, 1.2em, 1.4em),
                (line-height, 1.5, 1.4)
            );
        }
        cite {
            font-style: italic;
        }
    }
    &:before {
        content: '\f10d';
        position: absolute;
        font-family: $fa;
        font-weight: $fa-solid-weight;
        color: $color-1;
    }
    .wp-block-pullquote__citation {
        text-transform: none;
        font-style: italic;
        font-size: inherit;
    }
}