// .wp-block-separator

hr.wp-block-separator {
    width: 100%;
    border: none;
    border-top: $border-width solid $grey-light;
    text-align: left;
    margin: $y-margin/2 0;
    &.has-color-1-color {
        border-color: $color-1;
    }
    &.has-color-2-color {
        border-color: $color-2;
    }
    &.has-color-3-color {
        border-color: $color-3;
    }
    &.has-black-color {
        border-color: $black;
    }
    &.has-grey-dark-color {
        border-color: $grey-dark;
    }
    &.has-grey-light-color {
        border-color: $grey-light;
    }
    &.has-white-color {
        border-color: $white;
    }
}