// .wp-block-table

.wp-block-table {
    width: 100%;
    margin: 0 0 1em;
    th {
        text-align: left;
        padding: 1em;
    }
    td {
        vertical-align: top;
        padding: 1em;
        border: 0;
        border-bottom: 1px solid $grey-light;
    }
    figcaption {
        padding: 0 1em;
    }
    &.is-style-regular {
        td {
            border-bottom: 1px solid $grey-light;
        }
    }
    &.is-style-stripes {
        border: none;
        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: lighten( $grey-light, 5% );
                }
            }
        }
    }
}