// alignfull

@mixin alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
}

// menu-btn

@mixin menu-btn-hover( $menu-btn-align: 'center', $menu-btn-type: 'default' ) {
    text-decoration: none;
    color: $white;
    @if $menu-btn-type == 'bar' {
        &:after {
            @if $menu-btn-align == 'center' {
                transform: translateX(-50%) scale3d(1,1,1);
            } @else {
                transform: translateX(0) scale3d(1,1,1);
            }
        }
    } @else {
        color: $white;
    }
}

@mixin menu-btn( $menu-btn-align: 'center', $menu-btn-type: 'default' ) {
    position: relative;
    display: inline-block;
    padding: 0.5em;
    color: $grey-light;
    font-weight: $font-bold;
    transition: color $speed ease;
    @if $menu-btn-type == 'bar' {
        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            width: 100%;
            height: $border-width;
            background-color: $white;
            @if $menu-btn-align == 'center' {
                left: 50%;
                will-change: transform;
                transform-origin: center;
                transform: translateX(-50%) scale3d(0,1,1);
            } @else {
                left: 0.5em;
                transform-origin: left;
                transform: translateX(0) scale3d(0,1,1);
                max-width: 2em;
            }
            transition: transform $speed ease;
        }
    }
    &:hover {
        @include menu-btn-hover( $menu-btn-align, $menu-btn-type );
    }
}

// btn

@mixin btn() {
    $default: map-get($background-colors, default);
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: inherit;
    font-weight: $font-bold;
    border: none;
    box-shadow: none;
    background-color: map-get($default, background-color);
    color: map-get($default, text-color);
    &:hover {
        text-decoration: none;
        background-color: map-get($default, background-hover);
    }
    &:active {
        background-color: map-get($default, background-color);
    }
    &:focus {
        outline: none;
    }
    @each $key, $map in $background-colors {
        &.has-#{$key}-background-color {
            background-color: map-get($map, background-color);
            color: map-get($map, text-color);
            &:hover {
                background-color: map-get($map, background-hover);
            }
            &:active {
                background-color: map-get($map, background-color);
            }
        }
    }
}

// responsive-property

@mixin responsive-property( $property, $min-size, $max-size, $breakpoints: 'grid' ) {
    // pass all as last parameter to use $all-breakpoints
    $responsive-breakpoints: $grid-breakpoints;
    @if $breakpoints == all {
        $responsive-breakpoints: $all-breakpoints;
    }
    // increment property for each breakpoint
    $i: 0;
    $count: length($responsive-breakpoints) - 1;
    @each $name, $width in $responsive-breakpoints {
        @if $width > 0 {
            @media (min-width: $width) {
                $increment: ($max-size - $min-size) / $count;
                $this-size: $min-size + ( $increment * $i );
                #{$property}: $this-size;
            }
        } @else {
            #{$property}: $min-size;
        }
        $i: $i + 1;
    }
}

// responsive-properties

@mixin responsive-properties( $parameters... ) {
    // pass all as first parameter to use $all-breakpoints
    $responsive-breakpoints: $grid-breakpoints;
    $properties: $parameters;
    @if type-of(nth($parameters, 1)) != 'list' {
        @if nth($parameters, 1) == all {
            $responsive-breakpoints: $all-breakpoints;
        }
        $properties: ();
        @for $i from 2 through length($parameters) {
            $properties: append($properties, nth($parameters, $i));
        }
    }
    // increment property for each breakpoint
    $i: 0;
    $count: length($responsive-breakpoints) - 1;
    @each $name, $width in $responsive-breakpoints {
        @if $width > 0 {
            @media (min-width: $width) {
                @each $property, $min-size, $max-size in $properties {
                    $increment: ($max-size - $min-size) / $count;
                    $this-size: $min-size + ( $increment * $i );
                    #{$property}: $this-size;
                }
            }
        } @else {
            @each $property, $min-size, $max-size in $properties {
                #{$property}: $min-size;
            }
        }
        $i: $i + 1;
    }
}

// container-max-widths

@mixin container-max-widths($start: 'sm', $max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
    $started: false;
    @each $breakpoint, $container-max-width in $max-widths {
        @if $breakpoint == $start {
            $started: true;
        }
        @if $started {
            @include media-breakpoint-up($breakpoint, $breakpoints) {
                max-width: $container-max-width;
            }
        }
    }
}

// grid-template-columns

@mixin grid-template-columns($br: 'lg', $cols: 3) {
    $mw: map-get( $container-max-widths, $br );
    $w: $mw / $cols;
    $ow: calc(((100vw - #{$mw}) / 2) + #{$w});
    $reps: $cols - 2;
    @include media-breakpoint-up($br) {
        grid-template-columns: $ow repeat($reps, $w) $ow;
    }
}

// grid-content-widths

@mixin grid-content-widths($br: 'lg', $cols: 2, $total: 2) {
    @include media-breakpoint-up($br) {
        .grid-item-content {
            @include grid-content-width($br, $cols);
        }
        @for $i from 2 through $total {
            &.grid-col-span-#{$br}-#{$i} {
                @if $i == $cols {
                    .grid-item-container {
                        justify-content: center;
                    }
                }
                .grid-item-content {
                    @include grid-content-width($br, $cols, $i);
                }
            }
        }
    }
    @for $i from 2 through $total {
        &.grid-col-span-#{$br}-#{$i} {
            .grid-item-content {
                @include media-breakpoint-up($br) {
                    @include grid-content-width($br, $cols, $i);
                }
                @if $br == 'lg' {
                    @include media-breakpoint-up(xl) {
                        @include grid-content-width(xl, $cols, $i);
                    }
                }
                @if $br != 'x2' {
                    @include media-breakpoint-up(x2) {
                        @include grid-content-width(x2, $cols, $i);
                    }
                }
            }
        }
    }
}

// grid-content-width

@mixin grid-content-width($br: 'lg', $cols: 2, $span: 1) {
    $mw: map-get( $container-max-widths, $br );
    @include media-breakpoint-up($br) {
        @if $cols == $span {
            width: 100%;
        } @else {
            width: calc( #{$mw} / #{$cols} * #{$span} );
        }
    }
}

// ie11-hack

@mixin ie11-hack() {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}