.top {
    top: 0;
}

.admin-bar {
    body {
        padding-top: 32px;
    }
    .top {
        top: 32px;
    }
    @media screen and (max-width: 782px) {
        body {
            padding-top: 46px;
        }
        .top {
            top: 46px;
        }
    }
}