.banner {
    position: relative;
    @include alignfull;
    background-color: $grey-dark;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: $min-width;
    @include responsive-property(min-height, 320px, 720px, 'all');
    .banner-container {
        @include make-container();
        @include container-max-widths();
        position: relative;
        height: 100%;
        .banner-row {
            @include make-row();
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            .banner-col {
                @include make-col-ready();
                .banner-content {
                    position: relative;
                    display: inline-block;
                    z-index: 0;
                    color: white;
                    width: auto;
                    margin-bottom: 2em;
                    @include responsive-property(margin-top, 6em, 8em);
                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 25%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        background-color: rgba(0,0,0,0.15);
                        box-shadow: 0 0 2.5em 2.5em rgba(0,0,0,0.15);
                    }
                    & > * {
                        position: relative;
                    }
                    h1 {
                        text-shadow: 0px 2px 8px rgba(0,0,0,0.75);
                        @include responsive-properties( all,
                            (font-size, 1.6em, 3.2em),
                            (line-height, 1.4, 1.2)
                        );
                    }
                    p {
                        font-weight: $font-bold;
                        strong {
                            font-weight: $font-bold;
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }
}

// top banner

.banner-top {
    .banner-container {
        .banner-row {
            .banner-col {
                @media (min-width: 480px) {
                    @include make-col(20);
                }
                @include media-breakpoint-up(lg) {
                    @include make-col(16);
                }
            }
        }
    }
}

.home {
    .banner-top {
        @include responsive-property(min-height, 480px, 560px);
        .banner-container {
            .banner-row {
                .banner-col {
                    @include make-col(24);
                    .banner-content {
                        h1 {
                            text-align: center;
                        }
                        p {
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;
                            @include responsive-properties(
                                (max-width, 100%, 50%),
                                (margin-top, 1em, 2em)
                            );
                        }
                    }
                }
            }
        }
    }
}