.contact-container {
    font-weight: $font-bold;
    h2 {
        color: $color-2;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        @include responsive-properties(
            (font-size, 1em, 1.2em),
            (line-height, 1.5, 1.4)
        );
        &:first-child {
            margin-top: 0;
        }
    }
    & > div {
        margin-top: 0.5em;
        &:first-child {
            margin-top: 0;
        }
    }
    .contact-email,
    .contact-phone,
    .contact-address,
    .contact-hours {
        display: flex;
        &:before {
            display: inline-block;
            margin-right: 0.5rem;
            font-family: $fa;
            font-weight: $fa-solid-weight;
            width: 1em;
        }
    }
    .contact-email {
        &:before {
            content: '\f0e0';
        }
    }
    .contact-phone {
        &:before {
            content: '\f095';
        }
    }
    .contact-address {
        &:before {
            content: '\f3c5';
        }
    }
    .contact-hours {
        &:before {
            content: '\f017';
        }
    }
    .comma {
        display: none;
    }
    .contact-address-2,
    .contact-hours-2 {
        display: block;
    }
}

.nav-contact,
#footer {
    .contact-container {
        color: $white;
        a {
            color: $white;
        }
    }
}