.credit-container {
    font-size: 0.625em;
    p {
        margin-bottom: 0;
        margin-top: 0;
    }
    a {
        display: inline-block;
        text-transform: uppercase;
        color: $white;
        transition: all $speed ease-in-out;
        text-decoration: none;
        white-space: nowrap;
        margin-top: 0.5em;
        &:hover {
            text-decoration: underline;
        }
    }
}