// Forms

input[type="text"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="search"],
textarea,
select {
    padding: 0.75em 1em;
    border: 1px solid $grey-light;
    font-family: $font-sans;
    font-size: 1em;
    border-radius: 0;
    appearance: none;
    &:focus {
        outline: none;
    }
}

textarea {
    display: block;
    resize: vertical;
}

label {
    font-size: 1em;
    font-weight: $font-bold;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

#main {
    input, button {
        &[type="submit"] {
            @extend .btn;
            margin-top: 1em;
        }
    }
}

.searchform {
    margin: 0;
    input[type="search"] {
        width: 16em;
        font-family: inherit;
        color: $grey-dark;
        display: inline-block;
        vertical-align: middle;
    }
    button[type="submit"] {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0;
    }
}

// formidable

.frm_forms {
    @include responsive-property(width, 100%, 60%);
    .frm_form_fields {
        & > fieldset {
            padding: 0;
        }
    }
}

.frm_form_field {
    margin-top: 1em;
    &:first-of-type {
        margin-top: 0;
    }
}

.frm_form_title {
    margin-top: 0;
}

.frm_required {
    color: $red;
}

.frm_error_style {
    border: 1px solid $red;
    padding: 0.75em 1em;
    margin-bottom: 1em;
    background-color: lighten( $red, 51% );
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}

.frm_message {
    border: 1px solid $color-1;
    padding: 0.75em 1em;
    margin-bottom: 1em;
    background-color: lighten( $color-1, 51% );
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}

.frm_blank_field {
    color: $red;
    input, textarea {
        border-color: $red;
    }
    .frm_error {
        font-size: 0.75em;
    }
}

.frm_dropzone .dz-message {
    margin: 0;
}