.acf-map-container {
    width: 100%;
    height: 33.33333vw;
}

// Fixes potential theme css conflict
.acf-map-container img {
   max-width: inherit !important;
}

$legend-width: 260px;

.map-legend {
    display: block;
    position: relative;
    width: 100%;
    box-shadow: 0 0 1em rgba(0,0,0,0.25);
    border-bottom: 2px solid $grey-light;
    .legend-bar-container {
        position: relative;
        background-color: $color-1;
        color: $white;
        height: 2em;
        line-height: 2em;
        .legend-bar {
            width: 100%;
            @include container-max-widths();
            padding: 0 $grid-gutter-width/2;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        .legend-heading {
            font-size: 1rem;
            font-weight: $font-bold;
        }
        .legend-toggle {
            display: none;
        }
    }
    &.legend-open {
        transform: translate3d(0,0,0);
        .legend-toggle {
            .fa-caret-up {
                &:before {
                    content: '\f0d7';
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        position: absolute;
        max-width: $legend-width;
        bottom: 0;
        left: 0;
        transform: translate3d(0,calc(100% - 2em),0);
        transition: transform $speed;
        .legend-bar-container {
            .legend-bar {
                justify-content: space-between;
                max-width: $legend-width;
            }
            .legend-toggle {
                display: block;
                position: relative;
                color: $white;
            }
            &:hover {
                cursor: pointer;
                color: $color-3;
                text-decoration: none;
                .legend-toggle {
                    color: $color-3;
                    text-decoration: none;
                }
            }
        }
    }
    .legend-content-container {
        background-color: $white;
        .legend-content {
            width: 100%;
            @include container-max-widths();
            padding: 0.5em $grid-gutter-width/2;
            margin: 0 auto;
        }
        .legend-row {
            display: flex;
            justify-content: center;
            vertical-align: top;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            .legend-marker,
            .legend-label {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .legend-marker {
                display: block;
                max-width: 20px;
                flex: 0 0 20px;
            }
            .legend-label {
                font-size: 1rem;
                white-space: nowrap;
                padding-left: 0.5em;
            }
        }
        @include media-breakpoint-up(md) {
            display: block;
            .legend-content {
                max-width: $legend-width;
            }
            .legend-row {
                justify-content: flex-start;
            }
        }
    }
}