body.modal {
    height: 100vh;
    overflow: hidden;
}

#modal {
    position: fixed;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    .modal-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color-1;
        opacity: 0;
        transition: opacity $speed;
    }
    .modal-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        pointer-events: none;
        @include media-breakpoint-down(xs) {
            max-height: 90vh;
        }
        a {
            color: $white;
        }
        .modal-content {
            position: relative;
            padding: $y-margin 0;
            width: 100%;
            max-height: 100%;
            overflow-y: auto;
            pointer-events: all;
            opacity: 0;
            transition: opacity $speed;
        }
        .modal-close {
            &:before {
                font-family: $fa;
                font-weight: $fa-regular-weight;
                content: '\f057';
                margin-right: 0.5em;
            }
            &:hover {
                text-decoration: none;
                color: $color-3;
            }
        }
    }
    &.active {
        .modal-overlay {
            opacity: 0.95;
        }
        .modal-content {
            opacity: 1;
        }
    }
}
