.search-results {
    h3 {
        font-size: 1em;
        line-height: 1.5;
        color: $color-1;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        @include media-breakpoint-up(md) {
            font-size: 1.1em;
            line-height: 1.45;
        }
        @include media-breakpoint-up(xl) {
            font-size: 1.2em;
            line-height: 1.4;
        }
    }
    p {
        margin-top: 0.5rem;
    }
    .pagination {
        margin-top: 2rem;
        .page-numbers {
            display: inline-block;
            padding: 5px 10px;
            margin: 0 2px 0 0;
            border: 1px solid $grey-light;
            line-height: 1;
            text-decoration: none;
            border-radius: 2px;
            font-weight: 600;
        }
        .page-numbers.current,
        a.page-numbers:hover {
            background: $grey-light;
        }
    }
}