@import "../../variables/core";
@import "../../variables/color";
@import "../../variables/font";
@import "../../helpers/mixins";

.login {
    #login_error,
    .message,
    .success {
        border-color: $color-1;
    }
    input[type=text],
    input[type=password] {
        &:focus {
            border-color: $color-1;
            box-shadow: 0 0 0 1px $color-1;
        }
    }
    .button,
    .button-secondary,
    .button.wp-hide-pw {
        color: $color-1;
        &:focus {
            border-color: $color-1;
            color: $color-1;
            box-shadow: 0 0 0 1px $color-1;
        }
        &:hover {
            border-color: $color-2;
            color: $color-2;
        }
        &:hover {
            border-color: $color-2;
            color: $color-2;
        }
    }
    .button-primary {
        color: $white !important;
        background: $color-1 !important;
        border-color: $color-1 !important;
        &:hover {
            color: $white !important;
            background: $color-2 !important;
            border-color: $color-2 !important;
        }
        &:active {
            color: $white !important;
            background: $color-1 !important;
            border-color: $color-1 !important;
        }
    }
}