.acf-banner {
    @extend .banner;
    @include responsive-property(min-height, 240px, 480px, 'all');
    margin-bottom: 0;
    .banner-container {
        .banner-row {
            justify-content: center;
            .banner-col {
                @include media-breakpoint-up(md) {
                    @include make-col(22);
                }
                @include media-breakpoint-up(lg) {
                    @include make-col(20);
                }
                @include media-breakpoint-up(xl) {
                    @include make-col(18);
                }
                @include media-breakpoint-up(x2) {
                    @include make-col(16);
                }
                .banner-content {
                    margin-top: 2em;
                    p {
                        margin-top: 1em;
                        margin-bottom: 1em;
                        max-width: none;
                    }
                }
            }
        }
    }
}