.acf-cards {
    margin-top: $y-margin;
    .card-container {
        @include make-container();
        @include container-max-widths('lg');
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        @include media-breakpoint-up(xl) {
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
        }
        .card {
            position: relative;
            width: 100%;
            padding: 1em 2em 2em;
            background-color: $color-1;
            color: $white;
            @include media-breakpoint-up(lg) {
                width: 33.33333%;
                margin-left: 0%;
                margin-right: 0%;
            }
            @include media-breakpoint-up(xl) {
                padding: 1.5em $grid-gutter-width/2 $y-margin;
            }
            a, span {
                height: 100%;
                display: block;
                text-align: center;
                padding: 1em 0;
                color: $white;
                .icon {
                    i, svg, img {
                        margin-bottom: 1rem;
                    }
                    svg, img {
                        width: auto;
                        height: 9em;
                        margin: 0 auto;
                    }
                }
                h3 {
                    font-family: $font-heading;
                    color: $white;
                    margin: 1rem 0;
                }
                p {
                    font-weight: $font-bold;
                }
            }
            a {
                .icon {
                    i, svg, img {
                        will-change: transform;
                        transform: translate3d(0,0,0);
                        transition: 0.3s ease transform;
                    }
                }
                &:hover {
                    text-decoration: none;
                    .icon {
                        i, svg, img {
                            transform: translate3d(0,-1rem,0);
                        }
                    }
                }
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 2em;
                width: 100%;
                border-top: $border-width solid $white;
            }
            &.card-color-1,
            &.card-color-2,
            &.card-color-3 {
                background-color: $color-1;
                .icon {
                    svg {
                        path, rect, circle, ellipse, polygon, polyline, line {
                            fill: none;
                        }
                    }
                }
            }
            &.card-color-1 {
                background-color: $color-1;
                i {
                    color: $color-2;
                }
                svg {
                    path, rect, circle, ellipse, polygon, polyline, line {
                        stroke: $color-2;
                    }
                }
                &:after {
                    border-color: $color-2;
                }
            }
            &.card-color-2 {
                background-color: $color-2;
                i {
                    color: $color-3;
                }
                svg {
                    path, rect, circle, ellipse, polygon, polyline, line {
                        stroke: $color-3;
                    }
                }
                &:after {
                    border-color: $color-3;
                }
            }
            &.card-color-3 {
                color: $color-1;
                background-color: $color-3;
                a, span {
                    color: $color-1;
                }
                i {
                    color: $color-1;
                }
                svg {
                    path, rect, circle, ellipse, polygon, polyline, line {
                        stroke: $color-1;
                    }
                }
                &:after {
                    border-color: $color-1;
                }
            }
        }
    }
}