.acf-flex-container {
    position: relative;
    min-width: $min-width;
    margin-top: $y-margin;
    &.has-background-image {
        color: $white;
    }
}

#main {
    .acf-flex-container {
        &:not(.has-background) {
            &.alignfull, &.alignwide {
                padding-top: $y-margin;
                padding-bottom: $y-margin;
            }
        }
        &.has-background {
            padding-top: $y-margin;
            padding-bottom: $y-margin;
            &:not(.alignfull):not(.alignwide) {
                > .row {
                    margin: 0;
                }
            }
        }
        &.has-background {
            + :not(.alignfull):not(.alignwide) {
                margin-top: $y-margin;
            }
        }
    }
}

.acf-block-preview {
    & > .acf-flex-container {
        display: block;
        outline: 2px dashed $grey;
        min-height: $y-margin;
        padding-top: $y-margin;
        padding-bottom: $y-margin;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        .row {
            display: block;
            margin: 0;
        }
    }
}