.acf-flex-column {
    position: relative;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    &.has-background-image {
        color: $white;
    }
    &.has-background {
        padding-top: $y-margin;
        padding-bottom: $y-margin;
    }
}

#main {
    .acf-flex-column {
        .flex-column-container {
            position: relative;
            height: 100%;
        }
        .flex-column-content {
            position: relative;
        }
    }
}

.acf-block-preview {
    & > .acf-flex-column {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
        &.has-background {
            padding-top: $y-margin;
            padding-bottom: $y-margin;
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }
        .flex-column-container {
            display: block !important;
        }
    }
}