.acf-grid-item {
    position: relative;
    &.has-background-image {
        color: $white;
    }
    .grid-item-container {
        position: relative;
        display: flex;
        padding: $y-margin 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        .grid-item-content {
            position: relative;
            width: 100%;
            @include container-max-widths();
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }
    }
}

#main {

    // overrides

    .acf-grid-item {
        $start: false;
        @each $br, $mw in $container-max-widths {
            @if $br == 'lg' {
                $start: true;
            }
            @if $start {
                @include media-breakpoint-up($br) {
                    // grid-column
                    @for $i from 1 through 4 {
                        &.grid-col-start-#{$br}-#{$i} {
                            grid-column-start: $i;
                        }
                        &.grid-col-span-#{$br}-#{$i} {
                            grid-column-end: span $i;
                        }
                    }
                    // grid-row
                    @for $i from 1 through 12 {
                        &.grid-row-start-#{$br}-#{$i} {
                            grid-row-start: $i;
                        }
                        &.grid-row-span-#{$br}-#{$i} {
                            grid-row-end: span $i;
                        }
                    }
                    // content
                    &.content-justify-#{$br}-start {
                        .grid-item-container {
                            justify-content: flex-start !important;
                        }
                    }
                    &.content-justify-#{$br}-center {
                        .grid-item-container {
                            justify-content: center !important;
                        }
                    }
                    &.content-justify-#{$br}-end {
                        .grid-item-container {
                            justify-content: flex-end !important;
                        }
                    }
                    &.content-align-#{$br}-start {
                        .grid-item-container {
                            align-items: flex-start !important;
                        }
                    }
                    &.content-align-#{$br}-center {
                        .grid-item-container {
                            align-items: center !important;
                        }
                    }
                    &.content-align-#{$br}-end {
                        .grid-item-container {
                            align-items: flex-end !important;
                        }
                    }
                }
            }
        }
    }

    // grid-content-width
    
    .acf-grid {
        &.alignfull {
            &.grid-columns-2 {
                .acf-grid-item {
                    @include media-breakpoint-up(lg) {
                        .grid-item-container {
                            justify-content: flex-start;
                        }
                        &:nth-child(2n + 1) {
                            .grid-item-container {
                                justify-content: flex-end;
                            }
                        }
                    }
                    @each $br, $mw in $desktop-max-widths {
                        @include grid-content-widths($br, 2, 2);
                    }
                }
            }
            &.grid-columns-3 {
                .acf-grid-item {
                    @include media-breakpoint-up(lg) {
                        &:nth-child(3n + 1) {
                            .grid-item-container {
                                justify-content: flex-end;
                            }
                        }
                    }
                    @each $br, $mw in $desktop-max-widths {
                        @include grid-content-widths($br, 3, 3);
                    }
                }
            }
            &.grid-columns-4 {
                .acf-grid-item {
                    @include media-breakpoint-up(lg) {
                        &:nth-child(2n + 1) {
                            .grid-item-container {
                                justify-content: flex-end;
                            }
                        }
                    }
                    @include media-breakpoint-up(x2) {
                        &:nth-child(2n + 1) {
                            .grid-item-container {
                                justify-content: flex-start;
                            }
                        }
                        &:nth-child(4n + 1) {
                            .grid-item-container {
                                justify-content: flex-end;
                            }
                        }
                    }
                    @each $br, $mw in $desktop-max-widths {
                        @if $br != 'x2' {
                            @include grid-content-widths($br, 2, 4);
                        } @else {
                            @include grid-content-widths($br, 4, 4);
                        }
                    }
                }
            }
        }
    }
}

.acf-block-preview {
    & > .acf-grid-item {
        & > .grid-item-container {
            display: block;
        }
    }
}