#main .acf-grid {
    margin-top: $y-margin;
    @include media-breakpoint-up(lg) {
        display: grid;
        &.grid-auto-rows {
            grid-auto-rows: 1fr;
        }
        &.grid-columns-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.grid-columns-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.grid-columns-4 {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @include media-breakpoint-up(x2) {
        &.grid-columns-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @include media-breakpoint-up(lg) {
        &.alignfull {
            &.grid-columns-3 {
                @include grid-template-columns(lg, 3);
                @include grid-template-columns(xl, 3);
                @include grid-template-columns(x2, 3);
            }
            &.grid-columns-4 {
                @include grid-template-columns(x2, 4);
            }
        }
    }
}

.acf-block-preview {
    & > .acf-grid {
        display: block;
        outline: 2px dashed $grey;
        min-height: $y-margin;
    }
}