.acf-icon-block {
    a, span {
        display: block;
        text-align: center;
        color: $white;
        .icon {
            svg, img {
                width: auto;
                height: 8em;
                margin: 0 auto;
            }
        }
    }
    a {
        padding-top: 1rem;
        .icon {
            i, svg, img {
                will-change: transform;
                transform: translate3d(0,0,0);
                transition: 0.3s ease transform;
            }
        }
        &:hover {
            text-decoration: none;
            .icon {
                i, svg, img {
                    transform: translate3d(0,-1rem,0);
                }
            }
        }
    }
    &.icon-color-1,
    &.icon-color-2,
    &.icon-color-3,
    &.icon-black,
    &.icon-grey-dark,
    &.icon-grey-light,
    &.icon-white {
        .icon {
            svg {
                path, rect, circle, ellipse, polygon, polyline, line {
                    fill: none;
                }
            }
        }
    }
    &.icon-color-1 {
        .icon {
            i {
                color: $color-1;
            }
            svg {
                path, rect, circle, ellipse, polygon, polyline, line {
                    stroke: $color-1;
                }
            }
        }
    }
    &.icon-color-2 {
        .icon {
            i {
                color: $color-2;
            }
            svg {
                path, rect, circle, ellipse, polygon, polyline, line {
                    stroke: $color-2;
                }
            }
        }
    }
    &.icon-color-3 {
        .icon {
            i {
                color: $color-3;
            }
            svg {
                path, rect, circle, ellipse, polygon, polyline, line {
                    stroke: $color-3;
                }
            }
        }
    }
    &.icon-black {
        .icon {
            i {
                color: $black;
            }
            svg {
                path, rect, circle, ellipse, polygon, polyline, line {
                    stroke: $black;
                }
            }
        }
    }
    &.icon-grey-dark {
        .icon {
            i {
                color: $grey-dark;
            }
            svg {
                path, rect, circle, ellipse, polygon, polyline, line {
                    stroke: $grey-dark;
                }
            }
        }
    }
    &.icon-grey-light {
        .icon {
            i {
                color: $grey-light;
            }
            svg {
                path, rect, circle, ellipse, polygon, polyline, line {
                    stroke: $grey-light;
                }
            }
        }
    }
    &.icon-white {
        .icon {
            i {
                color: $white;
            }
            svg {
                path, rect, circle, ellipse, polygon, polyline, line {
                    stroke: $white;
                }
            }
        }
    }
}