.acf-map {
    position: relative;
    height: 100%;
    .acf-map-container {
        height: inherit;
        min-height: 320px;
        /*
            .gm-style-iw button { // hide close button
                display: none !important;
            }
        */
    }
}

.acf-block-preview {
    & > .acf-map {
        background-color: #e4e4e4;
        .acf-map-container {
            display: flex;
            justify-content: center;
            align-items: center;
            @include responsive-property(height, 320px, 480px);
            &:after {
                content: 'Map Disabled in Preview Mode';
            }
            .marker {
                display: none;
            }
        }
    }
}