.acf-post-feed,
.post-feed {
    margin-top: 2.5em;
    margin-left: 2em;
    margin-right: 2em;
    @include media-breakpoint-up(sm) {
        margin-left: auto;
        margin-right: auto;
    }
    @include media-breakpoint-up(lg) {
        max-width: map-get($container-max-widths, md);
    }
    @include media-breakpoint-up(xl) {
        max-width: none;
    }
    .feed-post {
        a {
            display: block;
            color: $text-color;
            background-color: $white;
            @include media-breakpoint-up(md) {
                display: flex;
                flex-direction: row;
                height: 100%;
            }
            &:hover {
                text-decoration: none;
                outline: 3px solid $grey-light;
            }
            &:active {
                outline: 3px solid $color-1;
            }
            .feed-post-thumbnail {
                position: relative;
                background-color: $grey-light;
                width: 100%;
                padding-top: 75%;
                @include media-breakpoint-up(md) {
                    width: 33.33333%;
                    padding-top: 25%;
                }
                @include media-breakpoint-up(lg) {
                    width: 41.66667%;
                    padding-top: 31.25%;
                }
                @include media-breakpoint-up(xl) {
                    width: 33.33333%;
                    padding-top: 25%;
                }
                @include media-breakpoint-up(x2) {
                    width: 25%;
                    padding-top: 18.75%;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                &.no-thumbnail {
                    background-size: 50% auto;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url('assets/img/logo-icon.svg');
                }
                &.no-object-fit {
                    background-size: cover;
                    background-position: center center;
                    img { // hide image if object fit is not supported
                        opacity: 0;
                    }
                }
            }
            .feed-post-details {
                flex: none;
                padding: 1.5em 2em;
                @include media-breakpoint-up(md) {
                    flex: 2;
                }
                @include media-breakpoint-up(lg) {
                    flex: 2;
                }
                .feed-post-title {
                    font-family: $font-heading;
                    font-size: 1.2em;
                    line-height: 1.4;
                    margin-bottom: 0.5em;
                }
                .feed-post-excerpt {
                    font-size: 0.8em;
                }
                .feed-post-date {
                    border-top: $border-width solid $color-2;
                    margin-top: 1em;
                    padding-top: 0.5em;
                    color: $color-2;
                    font-size: 0.8em;
                    &:before {
                        font-family: $fa;
                        font-weight: $fa-light-weight;
                        content: '\f073';
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
}

.page-template-page-home,
.page-template-page-full {
    .post-feed {
        @include media-breakpoint-up(xl) {
            display: grid;
            column-gap: 2em;
            row-gap: 2em;
            grid-template-columns: 2fr 3fr;
            grid-auto-rows: 1fr;
        }
        @include media-breakpoint-up(x2) {
            grid-template-columns: repeat(2, 1fr);
        }
        .feed-post {
            @include media-breakpoint-up(xl) {
                margin-bottom: 0;
            }
            .feed-post-thumbnail {
                @include media-breakpoint-up(md) {
                    width: 33.33333%;
                    padding-top: 25%;
                }
                @include media-breakpoint-up(lg) {
                    width: 33.33333%;
                    padding-top: 25%;
                }
                @include media-breakpoint-up(xl) {
                    width: 33.33333%;
                    padding-top: 25%;
                }
                @include media-breakpoint-up(x2) {
                    width: 33.33333%;
                    padding-top: 25%;
                }
            }
            .feed-post-details {
                @include media-breakpoint-up(xl) {
                    flex: 1;
                }
                @include media-breakpoint-up(x2) {
                    flex: 2;
                }
            }
            &:first-child {
                @include media-breakpoint-up(xl) {
                    grid-row: 1 / 4;
                }
                a {
                    @include media-breakpoint-up(xl) {
                        display: block;
                    }
                    .feed-post-thumbnail {
                        @include media-breakpoint-up(xl) {
                            width: 100%;
                            padding-top: 100%;
                        }
                        @include media-breakpoint-up(x2) {
                            padding-top: 75%;
                        }
                    }
                }
            }
        }
    }
}