.acf-section {
    position: relative;
    min-width: $min-width;
    padding-top: $y-margin;
    padding-bottom: $y-margin;
    margin-top: $y-margin;
    &.has-background-image {
        color: $white;
    }
    &.has-background {
        + :not(.alignfull):not(.alignwide) {
            margin-top: $y-margin;
        }
    }
    .section-container {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        .section-content {
            position: relative;
            width: 100%;
            padding-left: $grid-gutter-width / 2;
            padding-right: $grid-gutter-width / 2;
        }
    }
    &.alignwide {
        .section-container {
            .section-content {
                @include container-max-widths();
            }
        }
    }
}

.acf-block-preview {
    & > .acf-section {
        display: block;
        outline: 2px dashed $grey;
        min-height: $y-margin;
    }
}