.acf-slides {
    position: relative;
    background: $white;
    overflow: hidden;
    min-width: $min-width;
    @media (max-width: $min-width) {
        margin-left: -2em !important;
        margin-right: -2em !important;
    }
    .slide-container:first-child ~ .slide-container { // hide subsequent slides immediately
        opacity: 0;
    }
    .slide {
        position: relative;
        display: flex;
        align-items: flex-end;
        @include responsive-property(min-height, 320px, 640px, 'all');
        .image-container {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            picture {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
                &.no-object-fit {
                    background-size: cover;
                    background-position: center center;
                    img { // hide image if object fit is not supported
                        opacity: 0;
                    }
                }
            }
        }
        .content-container {
            position: relative;
            width: 100%;
            background: transparent;
            background: linear-gradient(0deg, rgba(16,41,67,0.75) 0%, rgba(16,41,67,0) 100%);
            @include media-breakpoint-up(xl) {
                background: transparent;
            }
            .content {
                z-index: 1;
                position: relative;
                .slide-text {
                    text-shadow: 2px 2px 4px rgba(16,41,67,0.75);
                    text-align: center;
                    padding: 9em 3em 3em;
                    color: $white;
                    @include media-breakpoint-up(md) {
                        padding: 3em 4em;
                    }
                    @include media-breakpoint-up(lg) {
                        padding: 3em 6em;
                    }
                    @include media-breakpoint-up(xl) {
                        padding: 3em;
                    }
                } 
            }
            
        }
    }

    .slick-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0 1em;
        li {
            display: inline-block;
            padding: 0 6em 0 0;
            opacity: 0.8;
            a {
                display: block;
                text-transform: uppercase;
                color: #fff;
                line-height: 1;
                font-weight: $font-bold;
                cursor: pointer;
            }
            span.spacer {
                display: block;
                width: 100%;
                height: 3.5em;
                margin-top: 0.5em;
                border-left: 1px solid $secondary;
            }
            &.slick-active {
                opacity: 1;
            }
        }
        /* override */
            li {
                padding: 1em 1em 1em 0;
                a {
                    height: 0.75em;
                    width: 0.75em;
                    overflow: hidden;
                    border-radius: 50%;
                    background: $white;
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
                    opacity: 0.6;
                    span.dot-text {
                        display: none;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
                &.slick-active {
                    a {
                        opacity: 1;
                    }
                }
                span.spacer {
                    display: none;
                }
            }
        /* end override */
    }
}