.acf-tabs {
    width: 100%;
    margin-top: $y-margin;
    @include media-breakpoint-up(md) {
        flex-wrap: nowrap;
        margin-top: 1.5em;
    }
    .tab-container {
        position: relative;
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 1.5rem;
        @include media-breakpoint-up(md) {
            flex-basis: auto;
            width: auto;
            padding-right: 2em;
        }
        @include media-breakpoint-up(lg) {
            padding-right: 2.33333em;
        }
        @include media-breakpoint-up(xl) {
            padding-right: 2.66667em;
        }
        @include media-breakpoint-up(x2) {
            padding-right: 3em;
        }
        .tab-list {
            display: flex;
        }
        .tab-btn {
            @extend .btn;
            text-transform: none;
            font-weight: $font-bold;
            color: $white;
            font-size: 1em;
            margin-top: 0.5em;
            margin-right: 0.5em;
            @include media-breakpoint-up(md) {
                display: block;
            }
            &:focus {
                outline: none;
            }
            &:nth-of-type(n) {
                background-color: $color-1;
                border-color: $color-1;
                &:hover,
                &:focus {
                    background-color: darken( $color-1, 10% );
                    border-color: darken( $color-1, 10% );
                }
                &.selected {
                    background-color: $white;
                    border-color: $grey-dark;
                    color: $grey-dark;
                }
            }
            &:nth-of-type(2n) {
                background-color: $color-2;
                border-color: $color-2;
                &:hover,
                &:focus {
                    background-color: darken( $color-2, 10% );
                    border-color: darken( $color-2, 10% );
                }
            }
            &:nth-of-type(3n) {
                background-color: $color-3;
                border-color: $color-3;
                &:hover,
                &:focus {
                    background-color: darken( $color-3, 10% );
                    border-color: darken( $color-3, 10% );
                }
            }
            &:nth-of-type(n) {
                &.selected {
                    background-color: $grey-dark;
                    border-color: $grey-dark;
                    color: $white;
                    &:before {
                        content: '\f105';
                        font-family: $fa;
                        font-weight: $fa-solid-weight;
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
    .tab-content-container {
        flex-basis: 100%;
        width: 100%;
        @include media-breakpoint-up(md) {
            flex-basis: auto;
            width: auto;
        }
        .tab-content {
            & > :first-child {
                margin-top: 0;
            }
            img {
                width: 100%;
                max-width: 720px;
            }
        }
    }
}