#footer {
    position: relative;
    padding: $y-margin 0;
    background-color: $color-1;
    color: $white;
    min-width: $min-width;
    .row {
        margin: 0;
        justify-content: center;
    }
    .col {
        width: auto;
        display: flex;
        justify-content: center;
        @include make-col(24);
    }
    .logo-container {
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    .row:first-child,
    .col-navigation,
    .col-contact {
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 0;
            bottom: 0;
            border-bottom: $border-width solid $color-2;
        }
    }
    .row:first-child {
        padding-bottom: calc(#{$border-width} + #{$grid-gutter-width} / 4);
        margin-bottom: $grid-gutter-width / 4;
    }
    .col-navigation,
    .col-contact {
        &:after {
            content: none;
            width: calc(100% - #{$grid-gutter-width});
        }
    }
    .col-contact {
        margin: 1.5em 0 1em;
    }
    @include media-breakpoint-up(sm) {
        .logo-container {
            padding-left: 0;
            justify-content: flex-start;
        }
        .col-navigation,
        .col-contact {
            @include make-col(12);
        }
        .col-contact {
            @include make-col-auto();
            .contact-container {
                .contact-row,
                .comma {
                    display: inline;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        .col-navigation {
            nav.footer-nav {
                justify-content: center;
            }
        }
        .col-contact {
            @include make-col-auto();
        }
    }
    @include media-breakpoint-up(lg) {
        .row:first-child {
            padding-bottom: 0;
            margin-bottom: 0;
            &:first-child {
                &:after {
                    content: none;
                }
            }
        }
        .logo-container {
            padding-bottom: calc(#{$border-width} + #{$grid-gutter-width});
        }
        .row {
            justify-content: flex-start;
        }
        .col {
            @include make-col(8);
            justify-content: flex-start;
        }
        .col-navigation,
        .col-contact {
            padding-bottom: calc(#{$border-width} + #{$grid-gutter-width} / 4);
            margin-bottom: $grid-gutter-width / 4;
            &:after {
                content: '';
            }
        }
        .col-navigation {
            nav.footer-nav {
                justify-content: flex-start;
            }
        }
        .col-contact {
            .contact-container {
                .comma {
                    display: none;
                }
                .contact-row {
                    display: block;
                }
            }
        }
    }
    nav.footer-nav {
        display: flex;
        margin-top: 1.5em;
        .footer-menu-container {
            &:first-child {
                margin-right: $grid-gutter-width / 1.5;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: block;
                    list-style: none;
                    a {
                        display: inline-block;
                        margin-bottom: 0.25em;
                        color: $grey-light;
                        font-weight: $font-bold;
                        display: flex;
                        transition: color $speed ease;
                        &:before {
                            content: '\f0da';
                            display: inline-block;
                            margin-right: 0.5em;
                            font-family: $fa;
                            font-weight: $fa-solid-weight;
                        }
                        &:hover {
                            color: $white;
                            text-decoration: none;
                        }
                    }
                    &.current_page_item, &.current-page-parent, &.current-page-ancestor {
                        > a {
                            color: $white;
                            &:before {
                                color: $white;
                            }
                        }
                    }
                    .sub-menu {
                        margin-left: 1em;;
                    }
                }
            }
            ul.menu {
                & > li.menu-item-has-children {
                    &:before {
                        content: none;
                    }
                }
            }
        }
    }
}

#footer {
    .col-copyright {
        padding-left: 0;
        font-size: 0.9em;
        color: $white;
        p {
            margin-top: 0;
            text-align: center;
            @include media-breakpoint-up(lg) {
                text-align: left;
            }
        }
    }
}

.social-links {
    display: flex;
    align-items: center;
    .social-link {
        display: flex;
        align-items: center;
        padding: 0.25em;
        a {
            display: flex;
            align-items: center;
            color: $white;
            .social-link-icon {
                padding: 0.25em;
            }
            .social-link-text {
                padding: 0.25em;
            }
            &:hover {
                text-decoration: none;
                color: $color-1;
            }
        }
    }
}
