#header {
    position: absolute;
    width: 100%;
    z-index: 9;
    min-width: $min-width;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
        mix-blend-mode: multiply;
    }
    nav {
        display: none;
    }
    @include media-breakpoint-up(lg) {
        .mobile-icon,
        .mobile-logo {
            display: none;
        }
        .navigation-container {
            div {
                text-align: right;
            }
            .menu-container {
                height: inherit;
                margin-top: 0;
                padding-left: 0;
                padding-right: 0;
                ul, li, a {
                    height: inherit;
                }
                a {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
        nav {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: transparent;
            padding: 0;
            top: auto;
            right: auto;
            width: auto;
            height: 100%;
            transform: none;
            opacity: 1;
            will-change: transform;
            pointer-events: all;
            .menu-container,
            .nav-contact {
                will-change: transform;
                transform: translateY(0);
            }
            .nav-contact {
                display: none;
            }
        }
    }
}

#container {
    &:after {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(0.5rem);
        pointer-events: none;
        opacity: 0;
    }
}

.nav-open, .nav-closed {
    #container {
        &:after {
            transition: $speed opacity ease;
        }
    }
}

.nav-open {
    height: 100vh;
    overflow: hidden;
    #container {
        &:after {
            opacity: 1;
        }
    }
}