.logo-container {
    display: flex;
    padding-top: 1em;
    padding-bottom: calc(1em + #{$border-width});
    @include make-col-ready();
    @include media-breakpoint-down(xs) {
        @include make-col(14);
    }
    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }
    @include media-breakpoint-up(md) {
        @include make-col(10);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(8);
    }
    .logo {
        display: flex;
        width: 100%;
        min-width: 160px;
        max-width: 280px;
        align-items: center;
        svg, img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.mobile-logo {
    &.logo-container {
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }
        @include media-breakpoint-up(md) {
            @include make-col(10);
        }
    }
}