body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: $color-1;
}

img {
    max-width: 100%;
    height: auto;
}

#main {
    position: relative;
    width: 100%;
    min-width: $min-width;
    padding-top: $y-margin;
    padding-bottom: $y-margin;
    background-color: $white;
    .alignfull, .alignwide {
        @include alignfull;
        min-width: $min-width;
        @media (max-width: $min-width) {
            margin-left: -$grid-gutter-width/2 !important;
            margin-right: -$grid-gutter-width/2 !important;
        }
    }
    > .container {
        > .row {
            > .col {
                > :first-child {
                    margin-top: 0;
                }
                > :last-child {
                    margin-bottom: 0;
                }
                > .alignfull, > .alignwide {
                    margin-top: $y-margin;
                    &:first-child {
                        margin-top: -$y-margin;
                    }
                    &:last-child {
                        margin-bottom: -$y-margin;
                    }
                    + .alignfull, + .alignwide {
                        margin-top: 0;
                    }
                    + :not(.alignfull):not(.alignwide) {
                        margin-top: $y-margin;
                    }
                }
            }
        }
    }
}