.navigation-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding-left: 0;
}

.menu-bar {
    & > .container {
        & > .row {
            position: relative;
            margin: 0;
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: $border-width;
                bottom: 0;
                background-color: $color-2;
            }
            .logo-container {
                padding-left: 0;
            }
            .col {
                padding-right: 0;
            }
        }
    }
}

// mobile

#mobile-container {
    .menu-container {
        ul {
            padding: 0;
            margin: 0;
            display: block;
            list-style-type: none;
            li {
                position: relative;
                display: block;
                color: $white;
                text-align: center;
                a {
                    @include menu-btn();
                }
                &.current_page_item {
                    & > a {
                        @include menu-btn-hover();
                    }
                }
                ul.sub-menu {
                    display: none;
                    position: relative;
                    padding: 0.5em 0 0 0.5em;
                    top: 0;
                    left: 0;
                    width: 100%;
                    li {
                        padding: 0;
                        margin: 0;
                        display: block;
                        a {
                            display: block;
                            padding: 0.5em 1em;
                            background-color: darken($color-1, 3%);
                            &:after {
                                content: none;
                            }
                        }
                        ul.sub-menu {
                            padding: 0;
                            li {
                                a {
                                    &:before {
                                        content: '\f105';
                                        font-family: $fa;
                                        font-weight: $fa-regular-weight;
                                        margin-right: 0.5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.menu {
                & > li.menu-item-has-children {
                    &:before {
                        position: absolute;
                        content: '\f107';
                        font-family: $fa;
                        font-weight: $fa-regular-weight;
                        top: 0.33em;
                        right: 0;
                        transform: translate3d(0, 0, 0);
                        transition: transform $speed 0s ease;
                    }
                    &:hover {
                        &:before {
                            transform: translate3d(0, 25%, 0);
                        }
                    }
                    &.accordion-menu-open {
                        &:before {
                            content: '\f00d';
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }
            }
        }
    }
}

// header

#header {
    .menu-container {
        ul {
            padding: 0;
            margin: 0;
            display: inline-block;
            list-style-type: none;
            text-align: right;
            li {
                position: relative;
                display: inline-block;
                margin: 0 0.25em;
                color: $grey-light;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    @include menu-btn(center);
                }
                &:hover, &.current_page_item, &.current-menu-parent, &.current-menu-ancestor {
                    & > a {
                        @include menu-btn-hover(center);
                    }
                }
                ul.sub-menu {
                    display: block;
                    position: absolute;
                    top: -20em;
                    left: 0;
                    width: 18em;
                    padding: 0;
                    text-align: left;
                    background-color: $color-1;
                    border-bottom: $border-width solid $color-2;
                    box-shadow: 0 0 3em -1.5em $black;
                    pointer-events: none;
                    opacity: 0;
                    visibility: hidden;
                    transform: translate3d(0, 1em, 0);
                    transition: opacity $speed ease, transform $speed ease, top $speed ease;
                    li {
                        display: block;
                        margin: 0;
                        padding: 0;
                        a {
                            &:after {
                                content: none;
                            }
                        }
                        ul.sub-menu {
                            display: none;
                            box-shadow: none;
                        }
                        &.current_page_item, &.current-menu-parent, &.current-menu-ancestor {
                            & > a {
                                color: $white;
                            }
                        }
                        &:hover {
                            ul.sub-menu {
                                pointer-events: all;
                                visibility: visible;
                                opacity: 1;
                                top: 0;
                                z-index: 1;
                                right: 100%;
                                left: auto;
                            }
                        }
                    }
                }
                &:hover {
                    ul.sub-menu {
                        top: 100%;
                        height: auto;
                        pointer-events: all;
                        visibility: visible;
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                        transition: opacity $speed 0s ease, transform $speed 0s ease, top 0s 0s ease;
                    }
                }
                &:last-child,
                &:nth-last-child(2) {
                    ul.sub-menu {
                        right: 0;
                        left: auto;
                    }
                }
                &.two-column {
                    ul.sub-menu {
                        width: 22em;
                        li {
                            width: 50%;
                            display: block;
                            float: left;
                            &:nth-of-type(2n) {
                                float: right;
                            }
                        }
                    }
                }
            }
            &.menu {
                & > li.menu-item-has-children {
                    & > a {
                        padding-right: 1.25em;
                    }
                    &:after {
                        position: absolute;
                        content: '\f107';
                        font-family: $fa;
                        font-weight: $fa-regular-weight;
                        top: 50%;
                        right: 0;
                        transform: translate3d(0, -50%, 0);
                        transition: transform $speed ease;
                    }
                    &:hover {
                        &:after {
                            transform: translate3d(0, -25%, 0);
                        }
                    }
                }
            }
        }
    }
}

// submenu

.submenu-container {
    .submenu-title {
        background-color: $color-2;
        color: $white;
        padding: 0.5em 1.5em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: $font-bold;
        a {
            color: $white;
            &:hover {
                color: $grey-light;
                text-decoration: none;
            }
        }
    }
    & > ul {
        border: $border-width solid $color-2;
        border-top: none;
        padding: 1em 1.5em;
    }
    ul {
        margin: 0;
        list-style-type: none;
        li {
            padding: 0.25em 0;
            a {
                padding: 0.25em 0;
                font-weight: $font-bold;
                color: $color-2;
                &:hover {
                    color: $color-1;
                    text-decoration: none;
                }
            }
            ul {
                display: none;
                padding: 0;
                li {
                    padding: 0;
                    a {
                        position: relative;
                        display: inline-block;
                        padding-left: 1em;
                        line-height: 1.2;
                        &:before {
                            position: absolute;
                            content: '\f105';
                            font-family: $fa;
                            font-weight: $fa-regular-weight;
                            left: 0;
                            color: $color-3;
                        }
                    }
                    ul {
                        padding-left: 2em;
                    }
                }
            }
            &.current_page_item {
                & > a {
                    font-weight: bold;
                }
            }
            &.current_page_item, &.current_page_parent, &.current_page_ancestor {
                & > a {
                    color: $color-1;
                    &:before {
                        color: $color-1;
                    }
                }
                & > ul {
                    display: block;
                }
            }
        }
    }
}
