#mobile-container {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    min-width: $min-width;
    background-color: $color-1;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    @include media-breakpoint-up(sm) {
        width: $sm;
        .mobile-icon {
            position: relative;
            left: calc((100vw - #{$sm}) / 2 * -1);
        }
    }
    @include media-breakpoint-up(md) {
        width: $md;
        .mobile-icon {
            left: calc((100vw - #{$md}) / 2 * -1);
        }
    }
    .menu-container {
        margin-top: 1em;
    }
    .nav-contact {
        display: flex;
        justify-content: center;
        border-top: $border-width solid $color-2;
        margin-top: $grid-gutter-width / 4;
        padding-top: $grid-gutter-width / 4;
    }
    .menu-container,
    .nav-contact {
        transform: translateY(2em);
        transition: transform $speed;
        will-change: transform;
    }
}

.mobile-icon {
    z-index: 2;
    position: relative;
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-right: -0.5em;
    font-size: 1.25em;
    color: $white;
    @include media-breakpoint-up(sm) {
        font-size: 1.5em;
    }
    @include media-breakpoint-up(md) {
        font-size: 1.75em;
    }
}

.nav-open {
    #mobile-container {
        pointer-events: all;
        opacity: 1;
        .menu-container,
        .nav-contact {
            transform: translateY(0);
        }
    }
}

.nav-open, .nav-closed {
    #mobile-container {
        transition: $speed opacity ease;
        box-shadow: 0 0 3em -1.5em $black;
        .menu-container,
        .nav-contact {
            transition: $speed transform ease;
        }
    }
}