.svg-logo {
    .st0 { fill: $color-1; }
    .st1 { fill: $color-2; }
    &.white {
        .st0 { fill: $white; }
        .st1 { fill: $white; opacity: 0.5 }
    }
}

.mobile-logo {
    .svg-logo {
        .st0 { fill: $white; }
    }
}