body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: $font-normal;
    font-family: $font-sans;
    color: $text-color;
    @include responsive-property(font-size, 1rem, 1.25rem);
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    font-family: $font-heading;
    font-weight: $font-bold;
}

h1, .h1 {
    text-transform: uppercase;
    @include responsive-properties(
        (font-size, 1.8em, 2.5em),
        (line-height, 1.3, 1.2)
    );
}
h2, .h2 {
    text-transform: uppercase;
    @include responsive-properties(
        (font-size, 1.4em, 1.6em),
        (line-height, 1.4, 1.3)
    );
}
h3, .h3 {
    text-transform: uppercase;
    @include responsive-properties(
        (font-size, 1.3em, 1.5em),
        (line-height, 1.4, 1.3)
    );
}
h4, .h4 {
    @include responsive-properties(
        (font-size, 1.2em, 1.4em),
        (line-height, 1.5, 1.4)
    );
}
h5, .h5 {
    @include responsive-properties(
        (font-size, 1.1em, 1.3em),
        (line-height, 1.5, 1.4)
    );
}
h6, .h6 {
    @include responsive-properties(
        (font-size, 1em, 1.2em),
        (line-height, 1.5, 1.4)
    );
}

p, table {
    margin: 1rem 0;
}

ol, ul {
    margin: 1rem 0;
    padding: 0 0 0 1.5em;
}

a {
    color: $primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

strong, b {
    font-weight: $font-bold;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid $grey-light;
    margin: 1em 0;
}

// Rich Text Toolbar

.text-nowrap {
    white-space: nowrap;
}

.text-sm {
    font-size: 0.75em;
}

.text-lg {
    font-size: 1.25em;
}

.text-xl {
    font-size: 1.5em;
}

h1, h2, h3 {
    .text-sm {
        font-size: 0.66em;
    }
}

// Responsive Alignment

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        .text#{$infix}-left   { text-align: left !important; }
        .text#{$infix}-right  { text-align: right !important; }
        .text#{$infix}-center { text-align: center !important; }
    }
}
