@import "variables/core";
@import "variables/color";
@import "variables/font";
@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "helpers/mixins";

$admin-menu-width: 160px;
$components-panel-width: 280px;

body .edit-post-visual-editor {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: $font-normal;
    font-family: $font-sans;
    color: $text-color;
    font-size: 16px;
    @import "theme/text";
    @import "theme/svg";
    @import "gutenberg";
    @import "components";
    @import "blocks";
    @import "plugins";
    .editor-post-title__block .editor-post-title__input {
        @extend h1;
        color: $black;
    }
    .wp-block {
        @each $name, $width in $grid-breakpoints {
            $min-width: calc( #{$width} + #{$admin-menu-width} + #{$components-panel-width} );
            @media (min-width: $min-width ) {
                $max-width: map-get( $container-max-widths, $name );
                @if $max-width {
                    max-width: calc( #{$max-width} - #{$grid-gutter-width-root} );
                }
            }
        }
        &[data-align=full], &[data-align=wide] {
            max-width: 100%;
            .alignfull, .alignwide {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.acf-range-wrap {
    input[type="number"] {
        width: 6em !important;
    }
}

.components-panel .acf-block-component {
    display: none;
}

// RichTextToolbarButton

.components-dropdown-menu__menu {
    .components-dropdown-menu__menu-item,
    .components-menu-item {
        .dashicon {
            margin-right: 8px;
            border-radius: 2px;
            width: 24px;
            height: 24px;
            line-height: 24px;
        }
        &.is-active {
            .dashicon {
                color: #fff;
                background: #1e1e1e;
                box-shadow: 0 0 0 1px #1e1e1e;
                border-radius: 1px;
            }
        }
    }
}