// colors

$color-1: #344F59;
$color-2: #597D7D;
$color-3: #B06136;

$black: #000000;
$grey-dark: #333333;
$grey: #757575;
$grey-light: #dddddd;
$white: #ffffff;

$primary: $color-1;
$secondary: $color-2;
$tertiary: $color-3;

$text-color: $grey-dark;
$link-color: $color-3;

$colors: (
    color-1: $color-1,
    color-2: $color-2,
    color-3: $color-3,
    black: $black,
    grey-dark: $grey-dark,
    grey: $grey,
    grey-light: $grey-light,
    white: $white
);

// colors

@each $key, $value in $colors {
    .has-#{$key}-color {
        color: $value;
    }
}

// background-colors

$background-colors: (
    default: (
        background-color: $color-1,
        background-hover: darken($color-1, 10%),
        text-color: $white,
        link-color: $white,
        secondary-color: $white
    ),
    color-1: (
        background-color: $color-1,
        background-hover: darken($color-1, 10%),
        text-color: $white,
        link-color: $white,
        secondary-color: $white
    ),
    color-2: (
        background-color: $color-2,
        background-hover: darken($color-2, 10%),
        text-color: $white,
        link-color: $white,
        secondary-color: $white
    ),
    color-3: (
        background-color: $color-3,
        background-hover: darken($color-3, 10%),
        text-color: $white,
        link-color: $white,
        secondary-color: $white
    ),
    black: (
        background-color: $black,
        background-hover: lighten($black, 20%),
        text-color: $white,
        link-color: $white,
        secondary-color: $white
    ),
    grey-dark: (
        background-color: $grey-dark,
        background-hover: lighten($grey-dark, 10%),
        text-color: $white,
        link-color: $white,
        secondary-color: $white
    ),
    grey: (
        background-color: $grey,
        background-hover: lighten($grey, 10%),
        text-color: $white,
        link-color: $white,
        secondary-color: $white
    ),
    grey-light: (
        background-color: $grey-light,
        background-hover: lighten($grey-light, 10%),
        text-color: $black,
        link-color: $black,
        secondary-color: $black
    ),
    white: (
        background-color: $white,
        background-hover: darken($white, 10%),
        text-color: $black,
        link-color: $black,
        secondary-color: $black
    )
);

@each $key, $map in $background-colors {
    .has-#{$key}-background-color {
        background-color: map-get($map, background-color);
        color: map-get($map, text-color);
    }
}