// interface variables

$speed: 0.4s;
$min-width: 300px;
$y-margin: 1.5em;
$border-width: 4px;

// bootstrap

$grid-columns: 24;
$grid-gutter-width: 4em;
$grid-gutter-width-root: 4rem;

// breakpoints

$sm: 600px;
$md: 782px;
$lg: 992px;
$xl: 1200px;
$x2: 1440px;
$x3: 1680px;
$x4: 1920px;
$x5: 2160px;
$x6: 2400px;

$sm-mw: 560px;
$md-mw: 740px;
$lg-mw: 960px;
$xl-mw: 1140px;
$x2-mw: 1380px;
$x3-mw: 1600px;
$x4-mw: 1840px;
$x5-mw: 2060px;
$x6-mw: 2300px;

$container-max-widths: (
    sm: $sm-mw,
    md: $md-mw,
    lg: $lg-mw,
    xl: $xl-mw,
    x2: $x2-mw,
    // x3: $x3-mw,
    // x4: $x4-mw,
    // x5: $x5-mw,
    // x6: $x6-mw
);

$desktop-max-widths: (
    lg: $lg-mw,
    xl: $xl-mw,
    x2: $x2-mw,
);

$grid-breakpoints: (
    xs: 0,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
    x2: $x2,
    // x3: $x3,
    // x4: $x4,
    // x5: $x5,
    // x6: $x6
);

$all-breakpoints: (
    xs: 0,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
    x2: $x2,
    x3: $x3,
    x4: $x4,
    x5: $x5,
    x6: $x6,
);

// spacers

$spacer: 1em;
$spacer-increment: 0.5;
$spacers: ();
@for $i from 1 through 24 {
    $spacers: map-merge($spacers, ($i : $spacer * $spacer-increment * $i));
}