@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// fonts

$font-sans: 'Raleway', sans-serif;
$font-heading: 'Oswald', sans-serif;

$font-normal: 400;
$font-bold: 700;

// fontawesome

$fa-font-path: './assets/lib/fontawesome/webfonts';

@import "node_modules/@fortawesome/fontawesome-pro/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-pro/scss/solid";
@import "node_modules/@fortawesome/fontawesome-pro/scss/regular";
@import "node_modules/@fortawesome/fontawesome-pro/scss/light";
@import "node_modules/@fortawesome/fontawesome-pro/scss/brands";

$fa: 'Font Awesome 5 Pro';
$fa-light-weight: 300;
$fa-regular-weight: 400;
$fa-solid-weight: 900;

$fa-brands: 'Font Awesome 5 Brands';
$fa-brands-weight: 400;

$fa-duotone: 'Font Awesome 5 Duotone';
$fa-duotone-weight: 900;